// text colours
$basic-text-colour: #888;
$basic-header-colour: #434343;
$bright-text-colour: #D4D4D4;
$brightest-text-colour: #FFF;
$menu-link-colour: #3A3C43;

$accent-colour: #45B6AF;
$accent-colour-faded: transparentize($accent-colour, 0.3);

$basic-border-colour: #DDD;

$basic-background: #FFF;
$alternate-background: #EEE;
$footer-background: #43444D;
$footer-copyright-background: #31323A;

$footer-social-borders: #535353;
$footer-social-icons: #EBEBEB;
$footer-post-date: #B4B4B4;

$slider-control-background: #C2C2C2;

$opinions-text: #A6A6A6;