body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html, body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block; }

table {
  border-collapse: separate;
  border-spacing: 0; }
  table caption, table th, table td {
    text-align: left;
    vertical-align: middle; }

a img {
  border: 0; }

:focus {
  outline: 0; }

.center-text {
  text-align: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

.center-no-float {
  float: none;
  text-align: center; }

.no-center-float {
  float: left;
  text-align: initial; }

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50); }

.invivsible {
  display: none; }

.inline-block {
  display: inline-block; }

.overflow-fix {
  overflow: auto; }

/*

content: "";
display: table;
clear: both;
*/
.hide {
  opacity: 0; }

.show {
  opacity: 1; }

.dark-overlay {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5); }

/*
@mixin my-size($width, $height) {
  width: $width;
  width: $height;
}

*/
.our-services .single-col {
  display: inline;
  float: left;
  width: 97.36842%;
  margin: 0 1.31579%; }
  @media screen and (min-width: 992px) {
    .our-services .single-col {
      display: inline;
      float: left;
      width: 17.36842%;
      margin: 0 1.31579%; } }
  @media screen and (min-width: 1200px) {
    .our-services .single-col {
      display: inline;
      float: left;
      width: 17.36842%;
      margin: 0 1.31579%; } }

.advantages .single-col {
  display: inline;
  float: left;
  width: 97.36842%;
  margin: 0 1.31579%; }
  @media screen and (min-width: 992px) {
    .advantages .single-col {
      display: inline;
      float: left;
      width: 30.70175%;
      margin: 0 1.31579%; } }
  @media screen and (min-width: 1200px) {
    .advantages .single-col {
      display: inline;
      float: left;
      width: 30.70175%;
      margin: 0 1.31579%; } }

.statistics .single-col {
  display: inline;
  float: left;
  width: 97.36842%;
  margin: 0 1.31579%; }
  @media screen and (min-width: 768px) {
    .statistics .single-col {
      display: inline;
      float: left;
      width: 47.36842%;
      margin: 0 1.31579%; } }
  @media screen and (min-width: 992px) {
    .statistics .single-col {
      display: inline;
      float: left;
      width: 22.36842%;
      margin: 0 1.31579%; } }
  @media screen and (min-width: 1200px) {
    .statistics .single-col {
      display: inline;
      float: left;
      width: 22.36842%;
      margin: 0 1.31579%; } }

.our-team .single-col {
  display: inline;
  float: left;
  width: 97.36842%;
  margin: 0 1.31579%; }
  @media screen and (min-width: 992px) {
    .our-team .single-col {
      display: inline;
      float: left;
      width: 30.70175%;
      margin: 0 1.31579%; } }
  @media screen and (min-width: 1200px) {
    .our-team .single-col {
      display: inline;
      float: left;
      width: 30.70175%;
      margin: 0 1.31579%; } }

.footer-main .single-col {
  display: inline;
  float: left;
  width: 97.36842%;
  margin: 0 1.31579%;
  background-color: grey; }
  @media screen and (min-width: 768px) {
    .footer-main .single-col {
      display: inline;
      float: left;
      width: 47.36842%;
      margin: 0 1.31579%;
      background-color: red; } }
  @media screen and (min-width: 992px) {
    .footer-main .single-col {
      display: inline;
      float: left;
      width: 22.36842%;
      margin: 0 1.31579%;
      background-color: green; } }
  @media screen and (min-width: 1200px) {
    .footer-main .single-col {
      display: inline;
      float: left;
      width: 22.36842%;
      margin: 0 1.31579%;
      background-color: blue; } }

.container {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
  padding: 0 15px; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

.section-title {
  margin-bottom: 40px;
  text-align: center; }

h1, h2, h3 {
  line-height: 1.1; }

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 0 1 #DDD; }

.navbar {
  height: 63px; }

.nav-logo {
  float: left;
  position: relative;
  z-index: 2; }

.main-menu-content {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50);
  z-index: 2; }

ul {
  list-style-type: none; }

li {
  float: left;
  display: block; }

a {
  color: #3A3C43;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 20px 14px;
  line-height: 20px;
  transition: all 0.5s ease-in-out; }

a:hover {
  color: #45B6AF; }

#main-menu {
  display: none; }
  @media screen and (min-width: 768px) {
    #main-menu {
      display: block; } }

.slicknav_menu {
  position: fixed;
  left: 0;
  right: 0; }
  @media screen and (min-width: 768px) {
    .slicknav_menu {
      display: none; } }

body {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #888; }

p {
  margin: 0 0 15px 0;
  line-height: 24px; }

h2 {
  font-size: 24px;
  margin: 0 0 12px 0;
  color: #434343;
  font-weight: 400; }

h3 {
  font-size: 18px;
  margin: 0 0 18px 0;
  color: #434343;
  font-weight: 400; }

/*
    Mobile Menu Core Style
*/
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }

.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left; }

.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em; }

.slicknav_menu .slicknav_no-text {
  margin: 0; }

.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em; }

.slicknav_nav {
  clear: both; }

.slicknav_nav ul,
.slicknav_nav li {
  display: block; }

.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em; }

.slicknav_nav .slicknav_item {
  cursor: pointer; }

.slicknav_nav .slicknav_row {
  display: block; }

.slicknav_nav a {
  display: block; }

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline; }

.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table; }

.slicknav_menu:after {
  clear: both; }

/* IE6/7 support */
.slicknav_menu {
  *zoom: 1; }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
.slicknav_menu {
  font-size: 16px; }

/* Button */
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222222; }

/* Button Text */
.slicknav_menu .slicknav_menutxt {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 1px 3px #000; }

/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5; }

.slicknav_menu {
  background: #4c4c4c;
  padding: 5px; }

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em; }

.slicknav_nav, .slicknav_nav ul {
  list-style: none;
  overflow: hidden; }

.slicknav_nav ul {
  padding: 0;
  margin: 0 0 0 20px; }

.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px; }

.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff; }

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0; }

.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff; }

.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #222; }

.slicknav_nav .slicknav_txtnode {
  margin-left: 15px; }

/*
.my-test {
  @include my-size(10px);
}

.my-test {
  @include border-radius-single(10px);
}
*/

/*# sourceMappingURL=main.css.map */
