$columns: 12;
$column-width: 65;
$gutter-width: 30;
$total-width: 100%;

.our-services .single-col {
	@include column(12);
	@media screen and (min-width: $tablet) {
		@include column(2.4);
	};
	@media screen and (min-width: $desktop) {
		@include column(2.4);
	};
}


.advantages .single-col {
	@include column(12);
	@media screen and (min-width: $tablet) {
		@include column(4);
	};
	@media screen and (min-width: $desktop) {
		@include column(4);
	};
}

.statistics .single-col {
	@include column(12);
	@media screen and (min-width: $phone) {
		@include column(6);
	};
	@media screen and (min-width: $tablet) {
		@include column(3);
	};
	@media screen and (min-width: $desktop) {
		@include column(3);
	};
}

.our-team .single-col {
	@include column(12);
	@media screen and (min-width: $tablet) {
		@include column(4);
	};
	@media screen and (min-width: $desktop) {
		@include column(4);
	};
}

.footer-main .single-col {
	@include column(12);
	background-color: grey;
	@media screen and (min-width: $phone) {
		@include column(6);
		background-color: red;
	};
	@media screen and (min-width: $tablet) {
		@include column(3);
		background-color: green;
	};
	@media screen and (min-width: $desktop) {
		@include column(3);
		background-color: blue;
	};
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	clear: both;
	padding: 0 15px;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

h1, h2, h3 {
	line-height: 1.1;
}


@mixin basic-button($color, $background-color) {
  color: $color;
  background-color: $background-color;
  text-decoration: none;
  display: inline-block;
  font-size: $basic-font-size;
  font-weight: 400;
  line-height: $basic-line-height;
  text-transform: uppercase;
}

header {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $basic-background;
	border-bottom: 1px solid $basic-border-colour;
	box-shadow: 0 0 1 $basic-border-colour;
}

.navbar {
	height: 63px;
}

.nav-logo {
	float: left;
	position: relative;
	z-index: 2;
	top: 8px;
}

.nav-logo img {
	max-width: 70%;
}

.main-menu-content {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50);
	z-index: 2;
}

ul {
	@include list-style-none;
}

li {
	float: left;
	@include block;
}

a {
	color: $menu-link-colour;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 20px 14px;
	line-height: 20px;
	@include basic-transition;
}

a:hover {
	color: $accent-colour;
}

// hides main menu
#main-menu {
	display: none;
	@media screen and (min-width: $phone) {
		display: block;
	};
}

// hides mobile menu
.slicknav_menu {
	position: fixed;
	left: 0;
	right: 0;
	@media screen and (min-width: $phone) {
		display: none;
	};
}

#mobile-menu div ul li{
float: none;
}
