@import 'grid';
@import 'reset';
@import 'colors';
@import 'helpers';
@import 'typography';
@import 'slicknav';

$columns: 12;
$column-width: 65;
$gutter-width: 30;
$total-width: 100%;

.our-services .single-col {
	@include column(12);
	@media screen and (min-width: $tablet) {
		@include column(2.4);
	};
	@media screen and (min-width: $desktop) {
		@include column(2.4);
	};
}

.advantages .single-col {
	@include column(12);
	@media screen and (min-width: $tablet) {
		@include column(4);
	};
	@media screen and (min-width: $desktop) {
		@include column(4);
	};
}

.statistics .single-col {
	@include column(12);
	@media screen and (min-width: $phone) {
		@include column(6);
	};
	@media screen and (min-width: $tablet) {
		@include column(3);
	};
	@media screen and (min-width: $desktop) {
		@include column(3);
	};
}

.our-team .single-col {
	@include column(12);
	@media screen and (min-width: $tablet) {
		@include column(4);
	};
	@media screen and (min-width: $desktop) {
		@include column(4);
	};
}

.footer-main .single-col {
	@include column(12);
	@media screen and (min-width: $phone) {
		@include column(6);
	};
	@media screen and (min-width: $tablet) {
		@include column(3);
	};
	@media screen and (min-width: $desktop) {
		@include column(3);
	};
}

body {
	padding-top: 50px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	clear: both;
	padding: 0 15px;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

h1, h2, h3 {
	line-height: 1.1;
}


@mixin basic-button($color, $background-color) {
  color: $color;
  background-color: $background-color;
  text-decoration: none;
  display: inline-block;
  font-size: $basic-font-size;
  font-weight: 400;
  line-height: $basic-line-height;
  text-transform: uppercase;
}

header {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $basic-background;
	border-bottom: 1px solid $basic-border-colour;
	box-shadow: 0 0 1 $basic-border-colour;
}

.navbar {
	height: 63px;
}

.nav-logo {
	float: left;
	position: relative;
	z-index: 2;
	top: 8px;
	left: -20px;
	

}

.nav-logo img {
	max-width: 70%;
}

.main-menu-content {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50);
	z-index: 2;
}

ul {
	@include list-style-none;
}

li {
	float: left;
	@include block;
}

a {
	color: $menu-link-colour;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 20px 14px;
	line-height: 20px;
	@include basic-transition;
		&:hover {
		color: $accent-colour;
	}
}



// hides main menu
#main-menu {
	display: none;
	@media screen and (min-width: $phone) {
		display: block;
	};
}

// hides mobile menu
.slicknav_menu {
	position: fixed;
	left: 0;
	right: 0;
	@media screen and (min-width: $phone) {
		display: none;
	};
}

#mobile-menu div ul li{
float: none;
}

// Main slider
.bxslider {
	.main-slide-1 {
		background-image: url('../img/slider_1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
		
	};
	.main-slide-2 {
		background-image: url('../img/slider_2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
	};
	.main-slide-3 {
		background-image: url('../img/slider_3.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
	};
}

.main-slider-content {
	padding: 10% 2% 5% 2%;
	color: $bright-text-colour;
	position: relative;
	z-index: 1;
	
	img {
		top: 5%;
		position: absolute;
			@media screen and (min-width: $tablet) {
				right: 5%;
			}
	} 

	h1 {
		margin-top: 250px; 
		font-size: 20px;
		line-height: 30px;
		font-weight: 400;
		@media screen and (min-width: $phone) {
			color: red;
			margin-top: 280px; 
			font-size: 30px;
		}
		@media screen and (min-width: $tablet) {	
			font-size: 40px;
			line-height: 60px;
			color: green;
		}
	}

	p {
		font-size: 12px;
		line-height: 24px;
		@media screen and (min-width: $phone) {
			font-size: 18px;
			padding-bottom: 20px;
		}
		@media screen and (min-width: $tablet) {
			font-size: 18px;
		}
	}
	a {
		position: relative;
		color: white;
		border: white 1px solid;
		padding: 12px 30px
	}
}

// Services
.our-services {
	padding: 80px 0 60px 0;
	overflow: auto;
	.single-col {
		margin-bottom: 30px;
		text-align: center;
		span {
			display: inline-block;
			@include size(90px, 90px);
			background-color: $alternate-background;
			text-align: center;
			@include border-radius-single(50%);
			margin-bottom: 30px;
			@include basic-transition;
			&:hover {
				background-color: $accent-colour;
			}
			&:hover > i {
				color: white;
			}
			i {
				color: $accent-colour;
				font-size: 30px;
				line-height: 90px;
				@include basic-transition;
			}
		}
	}
}

// Portfolio

.portfolio {
	background-color: #FFF4F2;
	padding: 55px 0;
	.owl-controls {
		margin-top: 60px;
	}
}

.portfolio-item {
	width: 100%;
	img {
		width: 100%;
		cursor: move;
	}
	&:hover .portfolio-hover {
		opacity: 1;
	}
	&:hover h3 {
		@include translate3d(0%, 0%, 0%);
	}
	&:hover p {
		@include translate3d(0%, 0%, 0%);
	}
	&:hover a {
		@include translate3d(0%, 0%, 0%);
	}
}

.portfolio-hover {
	@include absolute-one-hundred-size;
	@include var-transition(0.6s);
	text-align: center;
	overflow: hidden;
	background-color: $accent-colour-faded;
	opacity: 0;
}

.portfolio-hover-inner {
	position: absolute;
	width: 100%;
	top: 50%;
	@include translate3d(0%, -50%, 0%);
	h3 {
		font-size: 18px;
		margin: 0 0 6px 0;
		color: white;
		font-weight: 400;
		@include var-transition(0.6s);
	}
	p {
		color: white;
		margin-bottom: 20px;
		@include translate3d(0%, -400%, 0%);
		@include var-transition(0.6s);
	}
	a {
		display: inline-block;
		@include size(40px, 40px);
		@include border-radius-single(50%);
		border: 1px solid white;
		text-align: center;
		@include translate3d(0%, 400%, 0%);
		@include var-transition(0.6s);
		
		&:hover {
			background-color: white;
		}
	}

	a.portfolio-link-left {
		@include var-transition(0.4s);
		i{
			color: white;
			@include var-transition(0.6s);
		}
		&:hover i {
			color: $accent-colour;
		}
	}

	a.portfolio-link-right {
		@include var-transition(0.6s);
		
	i{
			color: white;
			@include var-transition(0.6s);

		}
		&:hover i {
			color: $accent-colour;
		}
	}
}


.section-video {
	display: none;
	position: relative;
	.container {
		padding: 175px 0;
		z-index: 5;
	}
	@media screen and (min-width: $phone) {
		display: block;
	}
}

#movie {
	@include size(100%, 100%);
	@include dark-overlay;
}

.video-line{
	text-align: center;
	h2 {
		font-size: 48px;
		margin-bottom: 26px;
		color: white;
		position: relative;
	}
	a {
		position: relative;
		@include basic-button(white, $accent-colour);
		margin: 8px 0;
		padding: 12px 30px;
		@include basic-transition;
		&:hover {
			opacity: 0.7;
		}
	}
}

.section-video-text {
	background-color: $accent-colour;
	padding: 50px 0;
	text-align: center;
	h2 {
		color: white;
		a {
			@include basic-button(white, $accent-colour);
			border: solid white 1px;
			margin: 8px 0 8px 65px;
			padding: 10px 30px;
			@include basic-transition;
			&:hover {
				color: $accent-colour;
				background-color: white;
				@include basic-transition;
			}
		}
	}
}

.advantages {
	padding: 80px 0 0 20px;
	@include clerfix;
	.single-col {
		text-align: center;
		margin-bottom: 30px;
		span {
			display: block;
			float: none;
			margin: 20px 0 20px 0;
			i {
				font-size: 30px;
				color: $accent-colour;
			}
			@media screen and (min-width: $phone) {
				display: inline-block;
				float: left;
				text-align: initial;
			}
		}
		.services-content {
			margin-left: 0px;
			@media screen and (min-width: $phone) {
				margin-left: 80px;
			}
		}
		@media screen and (min-width: $phone) {
			text-align: left;
		}
	}
}

// Statistics

.statistics {
	background-color: $alternate-background;
	overflow: auto;
	padding: 80px 0 60px 0;
	.single-col {
		text-align: center;
		.statistics-content {
			margin-bottom: 30px;
			h3 {
				font-size: 60px;
				color: $accent-colour;
				margin: 0;
			}
			p {
				font-size: 14px;
			}
		}
	}
}


.photo-banner {
	text-align: center;
	background: url('../img/paralel.jpg') no-repeat center center fixed;
	.photo-banner-inner {
		position: relative;
		z-index: 0;
		&:after {
			@include dark-overlay;
		}
		.container {
			position: relative;
			z-index: 1;
			padding: 175px;
		}
		h2 {
			@include header-mixin(48px, 26px);
			color: white;
		}
		a {
			position: relative;
			@include basic-button(white, $accent-colour);
			margin: 8px 0;
			padding: 12px 30px;
			@include basic-transition;
			&:hover {
				opacity: 0.7;
				@include basic-transition;
			}
		}
	}
}

// our team

.our-team {
	padding: 55px 0 10px 0;
	text-align: auto;
	overflow: auto;
	.single-col {
		margin-bottom: 30px;
	}
}

.team-members {
	overflow: auto;
	margin-bottom: 40px;
}

.team-member {
	img {
		margin-bottom: 30px;
		width: 100%;
	}
	h3 {
		@include header-mixin(18px, 4px);
	}
	span {
		line-height: 24px;
		margin: 0 0 17px 0;
		display: inline-block;
	}
	p {
		margin-bottom: 20px;
	}
}

.members-social {
	li {
		display: inline-block;
		margin-right: 18px;
		i {
			font-size: 18px;
			color: #595655;
			@include basic-transition;
			&:hover {
				color: $accent-colour;
				@include basic-transition;
			}
		}
	}
}

// footer
footer {
	background-color: $footer-background;
	color: $bright-text-colour;
	}

.footer-main {
		padding: 85px 0 0 65px;
		overflow: auto;
		h3 {
			@include header-mixin(18px, 30px);
			color: white;
		}
		.single-col {
			margin-bottom: 30px;
			@media screen and (min-width: $phone) {
				margin-bottom: 0;
			}
		}
	}

.footer-social {
	list-style-type: none;
	li {
		display: inline-block;
		margin-right: 6px; 
		a {
			padding: 0;
			display: inline-block;
			@include size(30px, 30px);
			border: 1px solid $footer-social-borders;
			@include border-radius-single(4px);
			text-align: center;
			text-decoration: none;
			@include basic-transition;
			&:hover {
				background-color: $footer-social-borders;
			}
			i {
				font-size: 14px;
				color: $footer-social-icons;
				line-height: 28px;
			}
		}
	}
}

.our-blog {
	ul {
		list-style: none;
		li {
			padding-top: 15px;
			border-top: solid 1px $footer-social-borders;
			&:first-child {
				padding-top: 0;
				border-top: none;
			}
			h4 {
				margin: 0;
				font-size: 13px;
				a {
					padding: 0;
					color: $bright-text-colour;
					font-weight: 400;
					@include basic-transition;
					&:hover {
						text-decoration: underline;
						@include basic-transition;
					}
				}
			}
		}
	}
}

.post-date {
	color: $footer-post-date;
	margin: 0 0 10px 0;
	display: inline-block;
}

.footer-gallery {
	ul {
		list-style: none;
	}
		li {
			display: inline-block;
			margin: 0 6px 6px 0;
			a {
				padding: 0;
				@include basic-transition;
				&:hover {
					opacity: 0.7;
				}
			}
		}
}

.more-links {
	li {
		display: block !important;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid $footer-social-borders;
	}
	a {
		color: $bright-text-colour;
	}
}

.copyright {
	padding: 10px 0;
	background-color: $footer-copyright-background;
	p {
		font-size: 12px;
		color: white;
		margin: 0;
		a {
			color: $bright-text-colour;
		}
	}
}